Flask==3.0.2
Flask-WTF==1.2.1
Werkzeug==3.0.2
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
google-api-python-client==2.36.0
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
PyPDF2==2.0.0
openpyxl==3.0.9
python-docx==0.8.11
jira==3.1.1
